<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <title>코로나투데이</title>
    {% include "template/head_css.html" %}
</head>
<style>

    @media (max-width: 767px) {
        /* line 62, ../../Arafath/CL/CL August/204. Blog/204. Blog- HTML/scss/_header.scss */
        .header-area .main-header-area {
            /* padding: 25px 0 !important; */
        }
    }
    .welcome_protomedia {
        padding-top: 0px !important;
        padding-bottom: 20px !important;
    }
    .points{
        font-size:90px !important;
        font-family: 'MapoPeacefull' !important; 
        text-align:center !important;
        margin-bottom:10px;
    }
    .points-name{
        font-size:50px !important;
        font-family: 'MapoPeacefull' !important; 
        text-align:center !important;
        margin-bottom:10px;
    }

    .welcome_protomedia div {
        height:400px;
    }
    input{
        font-size:25px !important;
    }
    input::placeholder {
        font-size:25px !important;
    }
    @media (max-width: 767px) {
        .welcome_protomedia div {
            width:90% !important;
            margin-bottom:50px;
            height:300px;
        }
        .welcome_protomedia div:nth-child(1) {
            order:3
        }

        .welcome_protomedia div:nth-child(2) {
            order:1
        }
        .welcome_protomedia div:nth-child(3) {
            order:10
        }
        .welcome_protomedia {
            flex-wrap:wrap;
        }
        .naming{
            width:90% !important;
        }
        .welcome_protomedia > div > ul{
            height:300px;
        }
        input{
            font-size:15px !important;
        }
        input::placeholder {
            font-size:15px !important;
        }
    }
</style>

<script>
    // 마커를 담을 배열입니다
    var markers = [];
    
    var mapContainer = document.getElementById('map1'), // 지도를 표시할 div 
        mapOption = {
            center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };  
    
    // 지도를 생성합니다    
    // var map = new kakao.maps.Map(mapContainer, mapOption); 
    
    // 장소 검색 객체를 생성합니다
    var ps = new kakao.maps.services.Places();  
    
    // 검색 결과 목록이나 마커를 클릭했을 때 장소명을 표출할 인포윈도우를 생성합니다
    var infowindow = new kakao.maps.InfoWindow({zIndex:1});
    
    // 키워드로 장소를 검색합니다
    searchPlaces();
    
    // 키워드 검색을 요청하는 함수입니다
    function searchPlaces() {
        document.getElementById('placesList').style.display = 'block';
        var keyword = document.getElementById('search_input').value;

        if (!keyword.replace(/^\s+|\s+$/g, '')) {
            alert('키워드를 입력해주세요!');
            return false;
        }
    
        // 장소검색 객체를 통해 키워드로 장소검색을 요청합니다
        ps.keywordSearch( keyword, placesSearchCB); 
    }
    
    // 장소검색이 완료됐을 때 호출되는 콜백함수 입니다
    function placesSearchCB(data, status, pagination) {
        if (status === kakao.maps.services.Status.OK) {
            // alert(1)
            // 정상적으로 검색이 완료됐으면
            // 검색 목록과 마커를 표출합니다
            displayPlaces(data);
    
            // 페이지 번호를 표출합니다
            displayPagination(pagination);
    
        } else if (status === kakao.maps.services.Status.ZERO_RESULT) {
    
            alert('검색 결과가 존재하지 않습니다.');
            return;
    
        } else if (status === kakao.maps.services.Status.ERROR) {
    
            alert('검색 결과 중 오류가 발생했습니다.');
            return;
    
        }
    }
    
    // 검색 결과 목록과 마커를 표출하는 함수입니다
    function displayPlaces(places) {

        var listEl = document.getElementById('placesList'), 
        menuEl = document.getElementById('search_input_box1'),
        fragment = document.createDocumentFragment(), 
        bounds = new kakao.maps.LatLngBounds(), 
        listStr = '';

        // 검색 결과 목록에 추가된 항목들을 제거합니다
        removeAllChildNods(listEl);

        // 지도에 표시되고 있는 마커를 제거합니다
        removeMarker();

        for ( var i=0; i<places.length; i++ ) {
            // alert(places[i].y)
            // alert(places[i].x)
            // 마커를 생성하고 지도에 표시합니다
            var placePosition = new kakao.maps.LatLng(places[i].y, places[i].x),
                marker = addMarker(placePosition, i), 
                itemEl = getListItem(i, places[i]); // 검색 결과 항목 Element를 생성합니다
    
            // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
            // LatLngBounds 객체에 좌표를 추가합니다
            bounds.extend(placePosition);
    
            // 마커와 검색결과 항목에 mouseover 했을때
            // 해당 장소에 인포윈도우에 장소명을 표시합니다
            // mouseout 했을 때는 인포윈도우를 닫습니다
            (function(marker, title) {
                kakao.maps.event.addListener(marker, 'mouseover', function() {
                    displayInfowindow(marker, title);
                });
    
                kakao.maps.event.addListener(marker, 'mouseout', function() {
                    infowindow.close();
                });
    
                itemEl.onmouseover =  function () {
                    displayInfowindow(marker, title);
                };
    
                itemEl.onmouseout =  function () {
                    infowindow.close();
                };
            })(marker, places[i].place_name);
    
            fragment.appendChild(itemEl);
        }
    
        // 검색결과 항목들을 검색결과 목록 Elemnet에 추가합니다
        listEl.appendChild(fragment);
        menuEl.scrollTop = 0;
    
        // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
        // map.setBounds(bounds);
    }
    
    // 검색결과 항목을 Element로 반환하는 함수입니다
    function getListItem(index, places) {
    
        var el = document.createElement('li'),
        itemStr = '<div class="info" onclick=" location.replace('+"'/location/latitude="+places.y+"/longitude="+places.x +'/'+places.place_name+"')"+'"'+">" +
                    '   <span style="font-size:20px;">' + places.place_name + '</span>';
        // '<span class="markerbg marker_' + (index+1) + '"></span>' +
                    // '<div class="info">' +
                    // '   <h5>' + places.place_name + '</h5>';
    
        if (places.road_address_name) {
            itemStr += '  <br>  <span style="font-size:15px; color:grey;">' + places.road_address_name + '</span>' //+
                        // '   <span class="jibun gray">' +  places.address_name  + '</span>';
        } else {
            itemStr += '  <br>  <span style="font-size:15px; color:grey;">' +  places.address_name  + '</span>'; 
        }
                     
          itemStr += '</div>'
        //   '  <span class="tel">' + places.phone  + '</span>' +
                    // '</div>';
    
        el.innerHTML = itemStr;
        el.className = 'item';
    
        return el;
    }
    
    // 마커를 생성하고 지도 위에 마커를 표시하는 함수입니다
    function addMarker(position, idx, title) {
        var imageSrc = 'http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png', // 마커 이미지 url, 스프라이트 이미지를 씁니다
            imageSize = new kakao.maps.Size(36, 37),  // 마커 이미지의 크기
            imgOptions =  {
                spriteSize : new kakao.maps.Size(36, 691), // 스프라이트 이미지의 크기
                spriteOrigin : new kakao.maps.Point(0, (idx*46)+10), // 스프라이트 이미지 중 사용할 영역의 좌상단 좌표
                offset: new kakao.maps.Point(13, 37) // 마커 좌표에 일치시킬 이미지 내에서의 좌표
            },
            markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imgOptions),
                marker = new kakao.maps.Marker({
                position: position, // 마커의 위치
                image: markerImage 
            });
    
        // marker.setMap(map); // 지도 위에 마커를 표출합니다
        // markers.push(marker);  // 배열에 생성된 마커를 추가합니다
    
        return marker;
    }
    
    // 지도 위에 표시되고 있는 마커를 모두 제거합니다
    function removeMarker() {
        for ( var i = 0; i < markers.length; i++ ) {
            markers[i].setMap(null);
        }   
        markers = [];
    }
    
    // 검색결과 목록 하단에 페이지번호를 표시는 함수입니다
    function displayPagination(pagination) {
        var paginationEl = document.getElementById('pagination'),
            fragment = document.createDocumentFragment(),
            i; 
    
        // 기존에 추가된 페이지번호를 삭제합니다
        while (paginationEl.hasChildNodes()) {
            paginationEl.removeChild (paginationEl.lastChild);
        }
    
        for (i=1; i<=pagination.last; i++) {
            var el = document.createElement('a');
            el.href = "#";
            el.innerHTML = i;
    
            if (i===pagination.current) {
                el.className = 'on';
            } else {
                el.onclick = (function(i) {
                    return function() {
                        pagination.gotoPage(i);
                    }
                })(i);
            }
    
            fragment.appendChild(el);
        }
        paginationEl.appendChild(fragment);
    }
    
    // 검색결과 목록 또는 마커를 클릭했을 때 호출되는 함수입니다
    // 인포윈도우에 장소명을 표시합니다
    function displayInfowindow(marker, title) {
        var content = '<div style="padding:5px;z-index:1;">' + title + '</div>';
    
        infowindow.setContent(content);
        // infowindow.open(map, marker);
    }
    
     // 검색결과 목록의 자식 Element를 제거하는 함수입니다
    function removeAllChildNods(el) {   
        while (el.hasChildNodes()) {
            el.removeChild (el.lastChild);
        }
    }
</script>

<body>
    <div id="map1" style="width:100%;height:100%;position:relative;overflow:hidden; display:none"></div>



    <header>
        <div class="header-area">
            {% include "template/header.html" %}

            <div id="sticky-header" class="main-header-area white-bg">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-7 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li>
                                            <a href="/" style="font-family: 'MapoPeacefull'">주변 신천지 찾기</a>
                                        </li>
                                        <li>
                                            <a href="/protection" style="font-family: 'MapoPeacefull'">신천지맵</a>
                                        </li>
                                        <li>
                                            <a active="active" href="/index" style="font-family: 'MapoPeacefull'">
                                                위험점수
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/map" style="font-family: 'MapoPeacefull'">코로나맵</a>
                                        </li>

                                        <!-- <li><a href="about.html">About</a></li> -->
                                        <!-- <li><a href="#">Contact
                                            <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="elements.html">elements</a></li>
                                                <li><a href="single-blog.html">single-blog</a></li>
                                            </ul>
                                        </li> -->
                                        <!-- <li><a href="contact.html">Contact</a></li> -->
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </header>
    <ins class="kakao_ad_area" style="display:none;" 
    data-ad-unit    = "DAN-uv6dmkazmj4z" 
    data-ad-width   = "320" 
    data-ad-height  = "50"></ins> 
    <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>



    <div id="search_input_box1" class="search_input bg_white" style="margin-top:20px;">
        <div class="container" style="font-family: 'MapoPeacefull'">
            <!-- <div> -->
                <form class="d-flex justify-content-between search-inner" onsubmit="searchPlaces(); return false;">

                    <input type="text" style="padding:10px; font-size:25px;" class="form-control" id="search_input" placeholder="자신의 위치를 입력하세요!">
                    <!-- <input type="text" placeholder="검색어 입력" id="keyword" size="15">  -->
                    <button type="submit" class="btn"><i class="ti-search"></i></button> 
                </form>
            <!-- </div> -->
        </div>
        <ul id="placesList" style="display:none;"></ul>
        <div style="display:none;" id="pagination"></div>


        <hr>
        <div style="border: 1px solid rgba(0, 0, 0, .1); box-shadow : 2px 2px 5px #999; padding:30px;">
            <div class="points-name" style="color:black;">위험점수</div>
            <div style="font-size:14px; text-align:center;">최소:0점, 최대:100점, <br>100점에 아까울수록 위험</div>
            <div style="font-size:14px; text-align:center;">( 5km 내의 데이터만 가지고 산정하기 때문에 정확하지 않을 수 있습니다 )</div>
            {% if 10>=score %}
            <div class="points" style="color:rgb(41,128,185);">{{ score }}점</div>
            <div class="naming" style="padding:10px; width:70%; margin:auto; color:white; border-radius:10px; background-color:rgb(41,128,185); text-align:center; font-family: 'MapoPeacefull'; font-size:20px;">안심지역!</div> 
            {% elif 40>=score %}
            <div class="points" style="color:rgb(39,174,96);">{{ score }}점</div>
            <div class="naming" style="padding:10px; width:70%; margin:auto; color:white; border-radius:10px; background-color:rgb(39,174,96); text-align:center; font-family: 'MapoPeacefull'; font-size:20px;">안심지역!</div> 
            {% elif 70>=score %}
            <div class="points" style="color:rgb(243,156,18);">{{ score }}점</div>
            <div class="naming" style="padding:10px; width:70%; margin:auto; color:white; border-radius:10px; background-color:rgb(243,156,18); text-align:center; font-family: 'MapoPeacefull'; font-size:20px;">안심지역!</div> 
            {% elif 90>=score %}
            <div class="points" style="color:rgb(231,76,60);">{{ score }}점</div>
            <div class="naming" style="padding:10px; width:70%; margin:auto; color:white; border-radius:10px; background-color:rgb(231,76,60); text-align:center; font-family: 'MapoPeacefull'; font-size:20px;">안심지역!</div> 
            {% elif 99>=score %}
            <div class="points" style="color:rgb(33,33,33);">{{ score }}점</div>
            <div class="naming" style="padding:10px; width:70%; margin:auto; color:white; border-radius:10px; background-color:rgb(33,33,33); text-align:center; font-family: 'MapoPeacefull'; font-size:20px;">안심지역!</div> 
            {% endif %}
            <div style="text-align:center; font-family: 'MapoPeacefull'; font-size:20px; margin-top:20px;">
                당장 공유하기! <i class="fa fa-facebook" style="color:rgb(66,103,178); cursor: pointer;" onclick="window.open('https://www.facebook.com/sharer/sharer.php?kid_directed_site=0&u=coronatoday.co.kr&display=popup&ref=plugin&src=share_button','','toolbar=no,menubar=no,location=no,height=500,width=500');"></i>
            </div>
        </div>
        <hr>
    </div>

    

    <div class="welcome_protomedia" style='display: flex; justify-content:center; margin:auto;'>
        <div style='width:23%; margin-left:2%; border: 1px solid rgba(0, 0, 0, .1); box-shadow : 2px 2px 5px #999;'>
            <!-- <h3 style="font-family: 'MapoPeacefull'; text-align:center; font-size:25px; background-color:#999">확진자 방문자수</h3> -->
            <canvas id="myChart" width="5" height="3"></canvas>
        </div>

        <div style='width:23%; margin-left:2%; border: 1px solid rgba(0, 0, 0, .1); box-shadow : 2px 2px 5px #999;'>
            <!-- <canvas id="list-middle" width="5" height="3"> -->
            <h3 style="padding:1px; font-family: 'MapoPeacefull'; text-align:center; font-size:18px;">확진자 방문기록(총 {{ info|length }}회)</h3>
            <ul style='overflow-y: auto; height:80%;'>
                <div style="text-align:center;">5km 내 확진자 방문기록이 없습니다.</div>
            </ul>
            <!-- </canvas> -->
        </div>

        <div style='width:23%; margin-left:2%; border: 1px solid rgba(0, 0, 0, .1); box-shadow : 2px 2px 5px #999;'>
            <!-- <h3 style="font-family: 'MapoPeacefull'; text-align:center; font-size:25px; background-color:#999">반경 내 확진자 수</h3> -->
            <canvas id="myChart2" width="5" height="3"></canvas>
        </div>
    </div>
    <ins class="kakao_ad_area" style="display:none;" 
        data-ad-unit    = "DAN-1hv2r5nr0so54" 
        data-ad-width   = "320" 
        data-ad-height  = "50"></ins> 
        <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>


    <!-- <ul id="placesList"></ul>
        <div id="pagination"></div> -->
    <!-- welcome_protomedia_start -->
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var data = {
            // The type of chart we want to create
            type: 'line',
            // The data for our dataset
            data: {
                labels: ["7일 전", "6일 전", "5일 전", "4일 전","3일 전", "2일 전","하루 전"],
                datasets: [{
                    label: "확진자 방문자 수",
                    backgroundColor: "#F9A729",//'rgb(75, 192, 192)',
                    fill:false, // line의 아래쪽을 색칠할 것인가? 
                    borderColor: "#F9A729",//'rgb(75, 192, 192)',
                    lineTension:0.5, // 값을 높이면, line의 장력이 커짐.
                    data: [0,0,0,0,0,0,0],
                }]
            },
            // Configuration options go here
            options: {
                title: {
                    display: true,
                    fontSize: 18,
                    text: '확진자 방문자 수',
                    fontFamily: 'MapoPeacefull'
                },
                responsive: true,
                maintainAspectRatio: false,
                legend:{
                    display: false,
                labels:{
                        fontSize: 12,
                        fontFamily: 'MapoPeacefull'
                    }
                },
                scales: {
                    yAxes: [{
                        ticks: {
                        stepSize: 1,
                        unitStepSize: 1,
                        suggestedMin: 0,
                        beginAtZero: true
                        }
                    }]
                }
            }
        }
        var chart = new Chart(ctx, data);




        var ctx = document.getElementById('myChart2').getContext('2d');
        var data = {
            // The type of chart we want to create
            type: 'bar',
            // The data for our dataset
            data: {
                labels: ['1km 내','2km 내','3km 내','4km 내','5km 내'],
                datasets: [{
                    label: "반경 내 확진자 수",
                    backgroundColor: "#F9A729",//'rgb(75, 192, 192)',
                    fill:false, // line의 아래쪽을 색칠할 것인가? 
                    borderColor: "#F9A729",//'rgb(75, 192, 192)',
                    lineTension:0.5, // 값을 높이면, line의 장력이 커짐.
                    data: [0, 0,0,0,0],
                }]

            },
            // Configuration options go here
            options: {
                title: {
                    display: true,
                    fontSize: 18,
                    text: '반경 내 확진자 수',
                    fontFamily: 'MapoPeacefull'
                },
                legend:{
                    display: false,
                labels:{
                        fontSize: 12,
                        fontFamily: 'MapoPeacefull'
                    }
                },
                responsive: true, 
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                        stepSize: 2,
                        unitStepSize: 2,
                        suggestedMin: 0
                        }
                    }]
                }
            }
        }
        var chart = new Chart(ctx, data);
    </script>


    {% include "template/footer.html" %}



    


</body>

</html>